* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: sans-serif;
}

.box-1 {
    width: 200px;
    height: 80px;
    border: 2px solid black;
    font-size: 40px;
    display: grid;
    justify-content: center;
    align-items: center;
    margin: 80px 100px;
    border-radius: 8px;
    box-shadow: -20px -20px rgb(0, 0, 0, 0.4);

}