/* changing default style of browser  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

/* style rule for form section  */
form {
    max-width: 400px;
    box-shadow: 2px 2px 40px rgb(0, 0, 0, 0.1);
    padding: 50px;

}

.title {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 20px;


}

form div input {
    width: 100%;
    border-radius: 8px;
    height: 40px;
    outline: none;
    border: 2px solid #c4c4c4;
    padding: 0 30px;
    box-shadow: 2px 2px 40px rgb(0, 0, 0, 0.1);


}

label {
    display: block;
    margin-bottom: 5px;
}

/* style rules for icon */
form div {
    margin-bottom: 15px;
    position: relative;
}


form div i {
    position: absolute;
    padding: 10px;
}

.success-icon,
.failure-icon {
    right: 0px;
    opacity: 0;
}

.success-icon {
    color: green;
}

.failure-icon,
.error {
    color: red;
}

.error {
    font-size: 14px;
    margin-top: 5px;
}

/* Style rules for button  */

#submit {
    width: 100%;
}